<mat-drawer-container class="example-container" autosize>
  <mat-drawer class="example-sidenav" #registrar position="end" mode='over'>
      <app-registro></app-registro>
  </mat-drawer>
    <div class="login-box">
      <h2>Login</h2>
      <form #formaIngresar="ngForm">
        <div class="user-box">
          <input autocomplete="off" name="usuario" ngModel required type="text">
          <label>Usuario</label>
        </div>
        <div class="user-box">
          <input autocomplete="off" name="contrasena" ngModel required type="password">
          <label>Password</label>
        </div>
        <tr>
          <td>
            <button (click)="ingresar(formaIngresar)">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Ingresar
            </button>
          </td>
          <td>
            <button (click)="registrar.toggle()">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Registrarse
            </button>
          </td>
        </tr>
      </form>
    </div>

</mat-drawer-container>