<!-- <div class="Registro-box"> -->
<h2>Registrar Usuario</h2>
<hr>

<form [formGroup]="myFormRegistro" autocomplete="off">
    <div class="user-box">
        <input matInput autocomplete="off" name="usuario" formControlName="usuario" type="text">
        <label>Usuario (mJordan) </label>
        <span
            *ngIf="this.myFormRegistro.get('usuario')?.errors?.['required'] && this.myFormRegistro.get('usuario')?.touched">
            Introduzca un Usuario
        </span>
    </div>

    <div class="user-box">
        <input matInput autocomplete="off" name="nombre" type="text" formControlName="nombre">
        <label>Nombre</label>
        <span
            *ngIf="this.myFormRegistro.get('nombre')?.errors?.['required'] && this.myFormRegistro.get('nombre')?.touched">
            Introduzca los Nombres
        </span>
    </div>

    <div class="user-box">
        <input matInput autocomplete="off" name="apellido" formControlName="apellido" type="text">
        <label>Apellido</label>
        <span
            *ngIf="this.myFormRegistro.get('apellido')?.errors?.['required'] && this.myFormRegistro.get('apellido')?.touched">
            Introduzca los Apellidos
        </span>
    </div>

    <!-- <div>
            <input autocomplete="off" name="documento" formControlName="documento"  type="radio">
            <input autocomplete="off" name="documento" formControlName="documento"  type="radio">
        </div> -->


    <div class="user-box">
        <input matInput autocomplete="off" name="documento" formControlName="documento" type="text">
        <label>Identificacion</label>
        <span
            *ngIf="this.myFormRegistro.get('documento')?.errors?.['required'] && this.myFormRegistro.get('documento')?.touched">
            Introduzca la Identificacion
        </span>
    </div>

    <div class="user-box">
        <input autocomplete="off" name="fechaNacimiento" formControlName="fechaNacimiento" type="date">
        <label>Fecha de Nacimiento </label>
        <span
            *ngIf="this.myFormRegistro.get('fechaNacimiento')?.errors?.['required'] && this.myFormRegistro.get('fechaNacimiento')?.touched">
            Sin fecha de Nacimiento
        </span>
    </div>

    <div class="user-box">
        <input matInput autocomplete="off" name="correo" formControlName="correo" type="text" autocomplete="off">
        <label>Correo</label>
        <span
            *ngIf="this.myFormRegistro.get('correo')?.errors?.['required'] && this.myFormRegistro.get('correo')?.touched">
            Introduzca un correo valido
        </span>
    </div>

    <div class="user-box">
        <input matInput autocomplete="off" name="contrasena" formControlName="contrasena" type="password"
            autocomplete="off">
        <label>Contraseña</label>
        <span
            *ngIf="this.myFormRegistro.get('contrasena')?.errors?.['required'] && this.myFormRegistro.get('contrasena')?.touched">
            Introduzca su Contraseña
        </span>
    </div>

    <!-- <div class="user-box">
            <select class="form-select" name="roles" formControlName="roles">
                <option [ngValue]="rol" *ngFor="let rol of rolesSe">
                    {{rol.rol}}
                </option>
            </select>
            <label>Roles</label>
            <span  *ngIf="this.myFormRegistro.get('roles')?.errors?.['required'] && this.myFormRegistro.get('roles')?.touched">
                Introduzca un nombre
            </span>
        </div> -->

    <div class="user-box">
        <select class="form-select" name="genero" formControlName="genero">
            <option value="femenino">
                Femenino
            </option>
            <option value="masculino">
                Masculino
            </option>
        </select>
        <label>Genero</label>
        <span
            *ngIf="this.myFormRegistro.get('genero')?.errors?.['required'] && this.myFormRegistro.get('genero')?.touched">
            Introduzca un nombre
        </span>
    </div>

    <div>
        <button type="submit" [disabled]="!this.myFormRegistro.valid" (click)="guardar(myFormRegistro)">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Guardar
        </button>
    </div>
</form>